@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> signInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StudentExpenseTracker</title>

    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- bootstrap icons CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <!-- custom CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StudentExpenseTracker.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid px-0">
                <!-- site name -->
                <a class="navbar-brand ms-3" asp-controller="Home" asp-action="Index">Student Expense Tracker</a>

                <!-- navbar links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-3">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Category" asp-action="Index">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Budget" asp-action="Index">Budget</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Analytics" asp-action="Index">Analytics</a>
                        </li>
                    </ul>
                </div>

                <div>
                    <!-- Navbar icons -->
                    <div class="navbar-nav d-flex flex-row justify-content-end">
                        <a class="nav-link me-3" href="#"><i class="bi bi-bell"></i></a>

                        <!-- display dropdown according to user authentication -->
                        @if (signInManager.IsSignedIn(User))
                        {
                            <!-- dropdown for authenticated users -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-person"></i>
                                </a>

                                <!-- logout link -->
                                <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-right">
                                    <li>
                                        <a class="dropdown-item" asp-action="Logout" asp-controller="Account">
                                            Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <!-- dropdown for non-authenticated users -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-person"></i>
                                </a>

                                <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-right">
                                    <!-- register link -->
                                    <li class="nav-item">
                                        <a class="nav-link text-light ms-3" asp-controller="Account" asp-action="Register">Register</a>
                                    </li>

                                    <!-- login link-->
                                    <li class="nav-item">
                                        <a class="nav-link text-light ms-3" asp-controller="Account" asp-action="Login">Login</a>
                                    </li>
                                </ul>
                            </li>
                        }
                    </div>
                </div>

                <!-- toggle button -->
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            <!-- render page conten -->
            @RenderBody()
        </main>
    </div>

    <!-- bootstrap JS-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- custom JS -->
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- render additional scripts -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
