<head>
    <style>
        .chart-container-doughnut {
            width: 100%;
            height: 295px;
        }

        .chart-container-spline {
            width: 100%;
            height: 100%;
        }

        .centered-text {
            text-align: center;
            padding: 100px;
        }

        .container {
            margin-top: 20px;
            margin-bottom: 30px;
        }
    </style>
</head>

<!-- Main content -->
<h1 class="mt-5">Analytics for the past 7 days</h1>
<p class="mt-3">Gain valuable insights into your spending habits and financial trends with our intuitive visualizations. Track your expenses by category, monitor your income and expenditures over time, and stay on top of your budgeting goals. Our analytics tools provide you with the information you need to make informed financial decisions and work towards achieving your saving objectives. </p>

<div class="container">
    <div class="row justify-content-center">
        <!-- Card for expenses by category -->
        <div class="col-md-6 my-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Expenses by Category</h5>
                    <div class="chart-container-doughnut">
                        <canvas id="expenseDoughnutChart"></canvas>
                        <p class="centered-text" id="noExpensesMessage"></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card for expense and income trends -->
        <div class="col-md-6 my-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Expense and Income Trends</h5>
                    <div class="chart-container-spline">
                        <canvas id="expenseIncomeSplineChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- External scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+30JU5yEx1q6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>


<!-- Section for scripts -->
@section Scripts {
    <script>

        var doughnutChartData = @Html.Raw(Json.Serialize(ViewBag.DoughnutChartData));

        // Check if doughnutChartData is empty or null
        if (!doughnutChartData || doughnutChartData.length === 0) {
            $('#noExpensesMessage').text('No expenses by category found.');
            $('#expenseDoughnutChart').hide();
        } else {
            // Remove the padding and centering if there is data
            $('#noExpensesMessage').removeClass('centered-text').css('padding', '0');
        }

        var labels = doughnutChartData.map(item => item.categoryTitle);
        var data = doughnutChartData.map(item => item.amount);

        // Get the canvas element
        var ctx = document.getElementById('expenseDoughnutChart').getContext('2d');

        // Define chart data
        var data = {
            labels: labels,
            datasets: [{
                label: 'My Dataset',
                data: data,
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(153, 102, 255)',
                    'rgb(255, 159, 64)'
                ],
                hoverOffset: 4
            }]
        };

        // Create the doughnut chart
        var myDoughnutChart = new Chart(ctx, {
            type: 'doughnut',
            data: data,
            options: {
            }
        });

        // Spline Chart
        // Extract data from ViewBag.SplineChartData
        var splineChartData = @Html.Raw(Json.Serialize(ViewBag.SplineChartData));

        // Initialize arrays to store income and expense data
        var days = [];
        var incomes = [];
        var expenses = [];

        // Loop through the splineChartData object and populate arrays
        splineChartData.forEach(function (item) {
            days.push(item.day);
            incomes.push(item.income);
            expenses.push(item.expense);
        });

        var ctxSpline = document.getElementById('expenseIncomeSplineChart').getContext('2d');

        var splineData = {
            labels: days,
            datasets: [{
                label: 'Expenses',
                data: expenses,
                borderColor: 'rgba(255, 99, 132, 1)',
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                fill: true
            },
            {
                label: 'Income',
                data: incomes,
                borderColor: 'rgba(75, 192, 192, 1)',
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                fill: true
            }]
        };

        var splineChart = new Chart(ctxSpline, {
            type: 'line',
            data: splineData,
            options: {
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            var datasetLabel = data.datasets[tooltipItem.datasetIndex].label || '';
                            var value = tooltipItem.yLabel;
                            return datasetLabel + ': ' + value.toFixed(2);
                        }
                    }
                }
            }
        });
    </script>
}



