@model StudentExpenseTracker.Models.Transaction

@{
    ViewData["Title"] = "Edit Transaction";
}

<!-- Page title -->
<h1 class="mt-5">Edit Transaction</h1>

<hr />
<div class="row">
    <div class="col-md-4 mt-3">
        <!-- Edit transaction form -->
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TransactionId" />
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-select" asp-items="ViewBag.CategoryId">
                    <option value="">Select Category</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="mt-4">
                <!-- Save button -->
                <input type="submit" value="Save" class="btn btn-primary" />
                <!-- Button to go back to the home page -->
                <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back to Home</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
